
<f:for each="{activities.items}" as="activity">
    <div class="activities ucris content-element-margin-small">
        <h2>{activity.title.text.0.value}</h2>
        <div class="persons">
            <f:for each="{activity.personAssociations}" as="person" iteration="personIter">
                {person.name.firstName} {person.name.lastName}
                <f:if condition="{personIter.isLast}"><f:else>, </f:else></f:if>
            </f:for>
        </div>
        <div class="event">
            <div class="event-name"><f:if condition="{activity.event.name.text.0.value}"><f:then>{activity.event.name.text.0.value}</f:then></f:if></div>
            <div class="event-type">
                <f:if condition="{activity.event.type.term.text.0.value}"><f:then>{activity.event.type.term.text.0.value}, </f:then></f:if>
                <f:if condition="{activity.type.term.text.0.value}"><f:then>{activity.type.term.text.0.value}</f:then></f:if>
            </div>
        </div>
        <div class="period">
            {activity.period.startDate.day}.{activity.period.startDate.month}.{activity.period.startDate.year}
            <f:if condition="{activity.period.startDate.day} != {activity.period.endDate.day}">
                <f:then> - {activity.period.endDate.day}.{activity.period.endDate.month}.{activity.period.endDate.year}</f:then>
            </f:if>
        </div>
        <div class="more"><a href="{activity.info.portalUrl}" target="_blank"><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.more" /></a></div>
    </div>
    <hr>
</f:for>
