
<f:for each="{pressMedia.items}" as="press">

    <div class="pressMedia ucris content-element-margin-small">
        <h2>{press.title.text.0.value}</h2>
        <div class="persons">
            <f:for each="{press.personAssociations}" as="person" iteration="personIter">
                {person.name.firstName} {person.name.lastName}
                <f:if condition="{personIter.isLast}"><f:else>, </f:else></f:if>
            </f:for>
        </div>
        <div class="period">
            <f:format.date date="{press.period.startDate}" format="Y-m-d" />
        </div>
        <div class="description"><f:format.html>{press.descriptions.0.value.text.0.value}</f:format.html></div>
        <div class="references">{press.references.0.medium}</div>
        <div class="type">{press.type.term.text.0.value}</div>
        <div class="more"><a href="{press.info.portalUrl}" target="_blank"><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.more" /></a></div>
    </div>
    <hr>
</f:for>
